header{
	text-align: center;
}

p{
	font-size: 20px;
}

.page-banner{
	width: 1400px;
	height: 150px;
}

.in{
	outline: none;
	text-align: center;
	background-color: #e2e2e2;
	border: none;
}

.contents{
	margin-top: 70px;
}

.ki-table{
	margin: 0 auto;
}

table td{
	width: 9%;
	height: 30px;
	background-color: #e2e2e2;
	border-radius: 5px;
	padding: 0 2px;
	text-align: center;
}

.b{
	background-color: rgba(0, 0, 0, 0);
}

.bb{
	display: flex;
	width: 130px;
	margin:70px auto;
}

.list-b{
	display: flex;
	width: 60px;
	margin:70px auto;
}

.button{
	width: 60px;
	height: 30px;
	font-size: 20px;
	color: #ffffff;
	background-color: #777777;
	border-radius: 5px;
	border: none;
	text-align: center;
	text-decoration:none;
}

.btn-text{
	width: 60px;
	height: 30px;
	font-size: 20px;
	background-color: #777777;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	text-decoration:none;
	text-align: center;
}



