.mypage-banner{
	width: 600px;
	height: 80px;
}
.icon-size{
	width: 190px;
	height: 190px;
}
.my-p{
	text-align: center;
	margin-top: 130px;
}

.my-icon{
	width: 600px;
	display: flex;
	margin: 10px auto 0;
}
.c-icon{
	margin: 0 auto;
}