<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
	<header>
		<img src="img/kib.png" width="1400px" height="150px">
	</header>
	<div class="contents">
		<table class="ki-table">
      		<thead>
	        	<tr>
	          		<th>勤怠ID</th>
	          		<th>ユーザーID</th>
	          		<th>ステータス</th>
	          		<th>出勤日</th>
	          		<th>出勤時間</th>
	         		<th>退勤日</th>
	          		<th>退勤時間</th>
	          		<th>稼働時間</th>
	          		<th>休憩時間</th>
	          		<th>修正理由</th>
	          		<th>備考</th>
	        	</tr>
      		</thead>
			<tbody>
		        <tr th:each="user : ${userlist}" th:object="${user}" class="align-middle">
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td class="ki-td"></td>
		          <td><div class="button"><a href="attendanceEdit.html" class="btn-text">編集</a></div></td>
		        </tr>
			</tbody>
    	</table>
		<div></div>
		<div class="bb">
			<div class="button"><a href="myPage.html" class="btn-text">戻る</a></div>
		</div>
	</div>
</body>

</html>