<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AttendanceList</title>
<link th:href="@{/css/attendanceList.css}" rel="stylesheet">
</head>

<body>
	<header>
		<img src="img/kib.png" class="page-banner" alt="勤怠一覧バナー画像">
	</header>
	<div class="contents">
		<table class="ki-table">
      		<thead>
	        	<tr>
	          		<th>勤怠ID</th>
	          		<th>ユーザーID</th>
	          		<th>ステータス</th>
	          		<th>出勤日</th>
	          		<th>出勤時間</th>
	         		<th>退勤日</th>
	          		<th>退勤時間</th>
	          		<th>稼働時間</th>
	          		<th>休憩時間</th>
	          		<th>修正理由</th>
	          		<th>備考</th>
	        	</tr>
      		</thead>
			<tbody>
		        <tr th:each="attendanceList : ${attendanceList}" th:object="${attendanceList}" class="align-middle">
		          <td th:text="*{attendance_id}" class="ki-td"></td>
		          <td th:text="*{user_id}" class="ki-td"></td>
		          <td th:text="*{status}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.going_date, 'yyyy/MM/dd')}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.going_time, 'HH:mm')}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.leaving_date, 'yyyy/MM/dd')}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.leaving_time, 'HH:mm')}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.working_time, 'HH:mm')}" class="ki-td"></td>
		          <td th:text="${#dates.format(attendanceList.break_time, 'HH:mm')}" class="ki-td"></td>
		          <td th:text="*{edit_reason}" class="ki-td"></td>
		          <td th:text="*{remarks}" class="ki-td"></td>
		          <td class="b"><div class="button"><a href="attendanceEdit.html" class="btn-text">編集</a></div></td>
		        </tr>
			</tbody>
    	</table>
		<div></div>
		<div class="list-b">
			<a href="myPage.html" class="button">戻る</a>
		</div>
	</div>
</body>

</html>