<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<img src="img/khb.png" width="1400px" height="150px">
	</header>
	<div class="contents">
		<div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>勤怠ID</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>ユーザーID</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>ステータス</p>
				<div class="box">
					<div class="cp_ipselect cp_sl01">
					<select required>
						<option value="" hidden>出勤ステータス▼</option>
						<option value="1">出勤</option>
						<option value="2">遅刻</option>
						<option value="3">欠席</option>
						<option value="4">代休</option>
						<option value="5">所定日</option>
						<option value="6">有休</option>
						<option value="7">その他</option>
					</select>
					</div>
				</div>

			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>出勤日</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>出勤時間</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>退勤日</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>退勤時間</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>稼働時間</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>休憩時間</p>
				<div class="box"></div>
			</div>
			<div class="gyou">
				<p class="khmaru">●</p>
				<p>修正理由</p>
				<div class="sr-box">
					<input type="text" class="textbox-3" placeholder="100"/>
				</div>
			<div class="gyou">
				<p class="khmaru-bikou">●</p>
				<p>備考</p>
				<div class="b-box"></div>
			</div>
		</div>
		<div class="bb">
			<button type="button" class="button">登録</button>
			<div class="button"><a href="attendanceList.html" class="btn-text">戻る</a></div>
		</div>
		
	</div>
	
</body>
</html>