<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ユーザー登録</title>
     <link rel="stylesheet" th:href="@{/css/userRegister.css}">
 </head>

 <body>
    <header>
        <img src="images/ytb.png" th:src="@{/images/ytb.png}" width="1400px" height="150px">
    </header>

    <div>
      <div th:if="${ValidationError}" th:each="error : ${ValidationError}">
        <label class="text-danger" th:text="${error}"></label>
    </div>

    <form th:action="@{/userRegister/create}" th:object="${userRegisterRequest}" th:method="post">

    <div class="contents">
       <div>
           <div class="urh">
             <p class="urmaru">●</p>
             <p>ユーザーID</p>
             <div class="urbox">
             <input type="text" placeholder="ユーザーIDは自動で採番致します" readonly></div>
              <!--「input type="text"」でテキストボックスを配置、placeholderタグで初期値を表示、
                    IDのみ自動採番なのでreadonlyタグで入力不可に-->
           </div>
        </div>

        <div>
            <div class="urh">
             <p class="urmaru">●</p>
             <p>名前</p>
             <div class="urbox">
                <input type="text" th:field="*{name}">
            </div>
        </div>

        <div>
            <div class="urh">
             <p class="urmaru">●</p>
             <p>フリガナ</p>
             <div class="urbox">
              <input type="text" placeholder="全角カナ" th:field="*{furigana}"></div>
            </div>
        </div>

        <div>
            <div class="urh">
             <p class="urmaru">●</p>
             <p>メールアドレス</p>
             <div class="urbox">
                 <input type="text" placeholder="sample@exam.jp" th:field="*{mail}"></div>
            </div>
        </div>

        <div>
            <div class="urh">
             <p class="urmaru">●</p>
             <p>パスワード</p>
             <div class="urbox">
                 <input type="text" placeholder="4文字以上" th:field="*{password}"></div>
            </div>
        </div>
    </div>

    <div class="urb">
        <button type="submit" class="button">登録</button>
        <button href="attendanceList.html" class="button">戻る</button>
    </div>

    </form>

 </body>
</html>