<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userEditDelete</title>
    <link rel="stylesheet" href="userEditDelete.css">
    <style>
     input[type="text"]{
     width: 520px;
     height: 30px;
     border-radius: 5px;
     background-color: #e2e2e2;
     border: 1px solid #e2e2e2;
     margin-left: auto;
     }
    </style>
</head>

<body>
    <header>
        <img src="img/yhsb.png" width="1400px" height="150px">
    </header>

    <div class="contents">
       <div>
           <div class="ueh">
             <p class="uemaru">●</p>
             <p>ユーザーID</p>
             <div class="uebox">
              <input type="text"></div>
           </div>
        </div>

        <div>
            <div class="ueh">
             <p class="uemaru">●</p>
             <p>名前</p>
             <div class="uebox">
              <input type="text"></div>
            </div>
        </div>

        <div>
            <div class="ueh">
             <p class="uemaru">●</p>
             <p>フリガナ</p>
             <div class="uebox">
              <input type="text" placeholder="全角カナ"></div>
            </div>
        </div>

        <div>
            <div class="ueh">
             <p class="uemaru">●</p>
             <p>メールアドレス</p>
             <div class="uebox">
                 <input type="text" placeholder="sample@exam.jp"></div>
            </div>
        </div>

        <div>
            <div class="ueh">
             <p class="uemaru">●</p>
             <p>パスワード</p>
             <div class="uebox">
                 <input type="text" placeholder="4文字以上"></div>
            </div>
        </div>
    </div>

    <div class="ueb">
        <button type="button" class="button">登録</button>
        <button type="button" class="button">戻る</button>
        <button type="button" class="button">削除</button>
    </div>

</body>
</html>