header{
    text-align: center;
}

p{
    font-size: 20px;
    white-space: nowrap;
    /*「メールアドレス」がそのままだと文字数が多く
    折り返されてしまうので改行させない*/
    display: inline-block;
    width: 20px;
    vertical-align: top;
}

.contents{
    margin-top: 70px;
}

.ueh{
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.uemaru{
    margin-right: 30px;
    color:#889ba0
}


.uebox{
    width: 520px;
    height: 30px;
    border-radius: 5px;
    background-color: #e2e2e2;
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
    width: 10px;
    vertical-align: top;
}

.ueb{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.button{
    width: 60px;
    height: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: #777777;
    border-radius: 5px;
    border: none;
}

input[type="text"]{
    width: 520px;
    height: 30px;
    border-radius: 5px;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    margin-left: auto;
    }
