<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザー編集・削除</title>
	<link rel="stylesheet" th:href="@{/css/userEditDelete.css}">
</head>

<body>
	<header>
		<img src="img/yhsb.png" th:src="@{/img/yhsb.png}" width="1400px" height="150px">
	</header>

	
		<div th:if="${ValidationError}" th:each="error : ${ValidationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>

		<form th:action="@{/user/update}" th:object="${userUpdateRequest}" th:method="post">

			<div class="contents">
				<div>
					<div class="ueh">
						<p class="uemaru">●</p>
						<p>ユーザーID</p>
						<div class="uebox">
							<input type="text" th:field="*{id}">
						</div>
					</div>
				</div>

				<div>
					<div class="ueh">
						<p class="uemaru">●</p>
						<p>名前</p>
						<div class="uebox">
							<input type="text" th:field="*{name}">
						</div>
					</div>
				</div>

				<div>
					<div class="ueh">
						<p class="uemaru">●</p>
						<p>フリガナ</p>
						<div class="uebox">
							<input type="text" placeholder="全角カナ" th:field="*{furigana}">
						</div>
					</div>
				</div>

				<div>
					<div class="ueh">
						<p class="uemaru">●</p>
						<p>メールアドレス</p>
						<div class="uebox">
							<input type="text" placeholder="sample@exam.jp" th:field="*{mail}">
						</div>
					</div>
				</div>

				<div>
					<div class="ueh">
						<p class="uemaru">●</p>
						<p>パスワード</p>
						<div class="uebox">
							<input type="text" placeholder="8文字以上" th:field="*{password}">
						</div>
					</div>
				</div>
			</div>

			<div class="ueb">
				<button type="submit" class="button">登録</button>
				<button type="button" class="button"><a class="link" th:href="@{/user/{id}/delete(id=*{id})}">削除</classa></button>
				<button href="attendanceList.html" class="button">戻る</button>
			</div>
		</form>>

</body>

</html>